@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  opacity: 0;
  transition: background-color 0.15s ease, opacity 150ms ease;

  &:hover {
    background-color: var(--mantine-color-dark-8);
    opacity: 1;
  }
}

*::-webkit-scrollbar-thumb {
  background-color: var(--mantine-color-primary-2);
  border-radius: var(--mantine-radius-default);
  border: 2px solid transparent;
  background-clip: padding-box;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}
