@use 'sass:color';

$color-background: var(--mantine-color-dark-6);
$color-background-panel: var(--mantine-color-dark-7);
$color-primary: var(--mantine-color-primary-2);

// Paddings
$border-radius: 10px;
$border-radius-large: 20px;
$box-shadow: 1px 1px 20px $color-background;
