@use "_variables.scss" as variables;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: variables.$font-size;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: variables.$color-background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #24c8db;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 0 solid transparent;
  padding: variables.$padding-small variables.$padding;
  font-size: variables.$font-size;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #0f0f0f98;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #0f0f0f69;
}

input,
button {
  outline: none;
}

.screen-container {
  display: flex;
  width: 100%;
  
  .side {
    min-width: calc(252px + #{variables.$padding-smallest});
    width: 15%;
    background-color: variables.$color-background-panel;
  }
  .main {
    width: 85%;
  }
}

::-webkit-scrollbar {
  width: 14px;
  background: variables.$color-background-panel;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: variables.$border-radius;
  border-radius: variables.$border-radius;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: variables.$border-radius;
  border-radius: variables.$border-radius;
  background: variables.$color-primary;
  // Simulated padding, allows track shadow to show at corners
  border: 3px solid transparent;
  background-clip: padding-box;
}

//::-webkit-scrollbar-track {
//  background: variables.$color-background;
//  border-radius: variables.$border-radius;
//  border: 6px solid transparent;
//}